.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: var(--header-height);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;

  .headerIcon {
    margin: 12px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  padding: 0 5px;
}

.logo {
  min-height: var(--header-logo-height);
  min-width: var(--header-logo-width);
  max-height: var(--header-logo-height);
  max-width: var(--header-logo-width);
  height: var(--header-logo-height);
  width: var(--header-logo-width);
  position: relative;
}

.name {
  font-size: calc(1.5 * var(--main-font-size));
  font-weight: 400;
  margin: 0 0 0 10px;
  color: var(--primary-color);
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nameContainer {
  min-width: 0;
}

.nameFormInput {
  background: none;
  border: none;
  font-size: 1.2rem;
  width: auto;
  margin: 0;
  color: var(--main-font-color-inverted);
}

.subTitle {
  margin: 0;
  font-size: 0.8rem;
  align-self: start;
  color: var(--main-font-color-inverted);
}

.reloadButton {
  position: absolute;
  bottom: -10px;
  left: 15px;
}

.configureButton {
  position: absolute;
  bottom: -5px;
  right: -10px;
}

.modalInput {
  width: 100%;
}
