.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  padding: 0 16px;
  // background-color: var(--bg-color);

  .inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .iconButton {
    background: var(--card-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px;
    color: var(--main-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
