.account {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	.card {
		padding: 4px 6px;
		max-width: 47vw;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 0.86rem;
	}

	.button {
		margin-left: 5px;
	}
}
