$flex-layout: (
    flex,
    center,
    center
);

$grey_light: #F0F0F0;

.onboardingComponent {
    top: -50px;
    width: 400px;
    height: 300px;
    position: relative;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceAround {
    top: 12px;
    position: relative;
}

.namesForm {
    display: block;
    justify-content: center;
    align-items: center;
}

.progressBarContainer {
    top: -60px;
    width: 100%; 
    height: 10px;
    position: relative;
    border-radius: 5px;
    background-color: #ccc; 
}

.statusContainer {
    display: nth($flex-layout, 1);
    justify-content: nth($flex-layout, 2);
    align-items: nth($flex-layout, 3);
}
  
.progressBar {
    height: 100%;
    border-radius: 5px; 
    background-color: #E0A714;
    transition: width 0.3s ease;
}  

.language_button {
    margin: 5px;
    width: 150px;
    height: 44px;
    font-size: 18px;
    font-weight: 400;
    border-style: none;
    border-radius: 23px;
    background-color: #F0F0F0;
    transition: background-color 0.3s ease;

}

.selected {
    color: #F0F0F0;
    background-color: #E0A714;
}

.label {
    display: nth($flex-layout, 1);
    justify-content: nth($flex-layout, 2);
    align-items: nth($flex-layout, 3);
}

.inputs {
    gap: 8px;
    padding: 8px;
    height: 46px;
    width: 311px;
    border-style: none;
    border-radius: 23px;
    background-color: $grey_light;
}

.dobForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dobInput {
    top: -40px;
    width: 90px;
    height: 40px;
    font-size: 12px;
    position: relative;
    border-style: none;
    border-radius: 23px;
    background-color: #F0F0F0;
    display: nth($flex-layout, 1);
    align-items: nth($flex-layout, 3);
    justify-content: nth($flex-layout, 2);
}

.houseHoldContainer {
    display: nth($flex-layout, 1);
    align-items: nth($flex-layout, 3);
    justify-content: nth($flex-layout, 2);
}

.houseHoldStats {
    display: nth($flex-layout, 1);
    align-items: nth($flex-layout, 3);
    justify-content: nth($flex-layout, 2);
    background-color: #F0F0F0;
    border-radius: 23px;
    width: 200px;
    height: 46px;
    padding: 8px;
}

.statusBtn {
    display: nth($flex-layout, 1);
    align-items: nth($flex-layout, 3);
    justify-content: nth($flex-layout, 2);
    padding: 8px 24px 8px 24px;
    background-color: #F0F0F0;
    border-style: none;
    border-radius: 23px;
    height: 46px;
    width: 150px;
    margin: 5px;
}

.monthlyIncome {
    width: 311px;
    height: 46px;
    padding: 8px;
    border-radius: 23px;
}

.incomeInput {
    display: nth($flex-layout, 1);
    align-items: nth($flex-layout, 3);
    justify-content: nth($flex-layout, 2);
    width: 311px;
    height: 46px;
    border-radius: 23px;
    padding: 8px;
    background-color: #F0F0F0;
}

.incomeOutput {
    display: nth($flex-layout, 1);
    align-items: nth($flex-layout, 3);
    justify-content: nth($flex-layout, 2);
    width: 100%;
}

.captureBtn {
    display: nth($flex-layout, 1);
    align-items: nth($flex-layout, 3);
    justify-content: nth($flex-layout, 2);
    width: 300px;
    height: 46px;
    border-radius: 23px;
    color: #FFFFFF;
    font-weight: bold;
    border-style: none;
    background-color: #E0A714;
}

.toggleBox {    
    display: nth($flex-layout, 1);
    justify-content: nth($flex-layout, 2);
    align-items: nth($flex-layout, 3);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    border-radius: 20px 20px 0px 0px;
    height: 375px;
    width: 400px;
    background-color: $grey_light;
    position: relative;
    // bottom: 10px;
    z-index: 1;
}

.toggleBoxMonths {    
    display: nth($flex-layout, 1);
    justify-content: nth($flex-layout, 2);
    align-items: nth($flex-layout, 3);
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 20px 20px 0px 0px;
    height: 200px;
    width: 400px;
    background-color: $grey_light;
    position: relative;
    bottom: -175px;
    // float: bottom;
    z-index: 1;
}

.toggleBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dayz {
    display: nth($flex-layout, 1);
    justify-content: nth($flex-layout, 2);
    align-items: nth($flex-layout, 3);
    width: 40px;
    height: 40px;
    border-radius: 23px;
    margin: 5px;
    font-size: 10px;
    background-color:#FFFFFF;
}

.months {
    display: nth($flex-layout, 1);
    justify-content: nth($flex-layout, 2);
    align-items: nth($flex-layout, 3);
    width: 80px;
    height: 40px;
    border-radius: 23px;
    margin: 5px;
    font-size: 10px;
    border-style: none;
    background-color:#FFFFFF;
}

.houseHoldButtons {
    display: nth($flex-layout, 1);
    justify-content: nth($flex-layout, 2);
    align-items: nth($flex-layout, 3);
    background-color: #E0A714;
    border-radius: 23px;
    border-style: none;
    color: #FFFFFF;
    font-size: 55px;
    height: 46px;
    width: 46px;
    margin: 8px;
}

.customerIdText {
    text-align: center;
}
  