.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #E5E7EB;
    border-radius: 20px;
    margin: 1px;
    border-style: none;
    height: 2rem;
    width: 5rem;
    color: white;
}