.button {
    height: 50px;
    width: 70%;
    background-color: '';
    border-radius: 30px;
    margin: 5px;
    border-style: none;
    color: white;
    font-size: 15px;
    text-align: left;
    display: flex;
    align-items: center;
}