@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.tailSpin {
  border: 16px solid transparent;
  border-radius: 50%;
  border-top: 16px solid var(--primary-color);
  max-width: 120px;
  max-height: 120px;
  min-width: 20px;
  min-height: 20px;
  -webkit-animation: spin 1300ms linear infinite; /* Safari */
  animation: spin 1300ms linear infinite;
}
