.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  background-color: var(--bg-color);
  border: none;
  padding: 8px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  path {
    fill: var(--main-font-color-inverted);
  }
}

.label {
  margin-top: 8px;
}

.xlarge {
  padding: 20px;
}

.large {
  padding: 16px;
}

.mediumLarge {
  padding: 12px;
}

.small {
  padding: 5px;
}

.xsmall {
  padding: 2px;
}

.xxsmall {
  padding: 0;
}

.withPrimaryBgColor {
  background-color: var(--primary-color);
}

.withSecondaryBgColor {
  background-color: var(--secondary-color);
}

.withTertiaryBgColor {
  background-color: var(--tertiary-color);
}

.withSuccessBgColor {
  background-color: var(--success-color);
}

.withWarningBgColor {
  background-color: var(--warning-color);
}

.withErrorBgColor {
  background-color: var(--error-color);
}

.withDisabledBgColor {
  background-color: var(--disabled-color);
}

.withGreyBgColor {
  background-color: var(--grey-color);
}

.withLightGreyBgColor {
  background-color: var(--light-grey-color);
}

.withWhiteBgColor {
  background-color: var(--bg-color);
}

.successMark {
  background-color: var(--success-color);
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 60px;

  path {
    fill: var(--main-font-color-inverted);
  }
}
