.multiMsgAddresses {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addressCard {
  margin-left: 10px;
  margin-top: 8px;
}

.wrapper {
  margin-bottom: 1rem !important;
}

.cardContent {
  display: flex;
}

.cancelBtn {
  padding-left: 1rem;
  margin-bottom: 0.4rem;
}

.editBtn {
  padding-left: 1rem;
}

.contentWrapper {
  flex: 1;
}

.btnLayout {
  display: flex;
  flex-direction: column;
}
