.imageContainer {
	border-radius: var(--card-border-radius);
	background-color: var(--light-grey-color);
	color: var(--grey-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 120px;
	height: 120px;
}
