# The origin of your application
NEXT_PUBLIC_AUTHN_ORIGIN=http://localhost:3000
# The relying party ID, usually the domain name of your application.
NEXT_PUBLIC_AUTHN_RP_ID=localhost
# chain network
NEXT_PUBLIC_CHAIN_NETWORK=devnet
#urls
NEXT_PUBLIC_FEEGRANT_URL=""
FEEGRANT_API_KEY=""
NEXT_PUBLIC_MATRIX_HOMESERVER_URL=""
NEXT_PUBLIC_MATRIX_ROOM_BOT_URL=""
NEXT_PUBLIC_MATRIX_BID_BOT_URL=""
NEXT_PUBLIC_MATRIX_CLAIM_BOT_URL=""
# Yoma SSO (OIDC/Keycloak)
NEXT_PUBLIC_YOMA_SSO_ISSUER=https://stage.yoma.world/auth/realms/yoma
NEXT_PUBLIC_YOMA_SSO_CLIENT_ID=<placeholder_client_id>
NEXT_PUBLIC_YOMA_SSO_REDIRECT_URI=http://localhost:3000/auth/passkey
NEXT_PUBLIC_YOMA_SSO_SCOPES=openid email profile