.swapResultWrapper {
  .card {
    width: 300px;
    text-align: left;

    p {
      margin-top: 0;
    }
  }

  .title {
    margin-bottom: 10px;
  }

  button {
    margin-top: 40px;
    width: 300px;
  }
}
