.card {
	border-radius: var(--card-border-radius);
	background-color: var(--light-grey-color);
	width: 100%;
}

.action {
	width: max-content;
}

.walletCard {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;

	p {
		margin: 0 5px 0 15px;
	}
}
