.card {
	border-radius: var(--card-border-radius);
	background-color: var(--light-grey-color);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
}

.action {
	width: max-content;
}
