.walletForm {
  width: 100%;
  max-width: 330px;

  label {
    // text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
  }

  button {
    display: none;
  }
}
