.input {
	width: auto;
	background-color: var(--light-grey-color);
	border: none;
	border-radius: var(--card-border-radius);
	padding: 0.5rem;
	display: block;

	&:focus {
		outline: solid 1px var(--accent-color);
	}

	&::placeholder {
		color: var(--grey-color);
		opacity: 1;
	}
}

.label {
	font-size: 0.8rem;
}
