.input {
  width: auto;
  background-color: var(--light-grey-color);
  border: none;
  border-radius: 50px;
  padding: 0.8rem;
  display: block;
  color: var(--main-font-color);

  &:focus {
    outline: solid 1px var(--primary-color);
  }

  &::placeholder,
  &:disabled {
    color: var(--grey-color);
    opacity: 1;
  }
}

.startAlign {
  text-align: start;
}

.centerAlign {
  text-align: center;
}

.endAlign {
  text-align: end;
}

.label {
  font-size: 0.8rem;
}

.max {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 4px 0;
}

.exceededMax {
  outline: solid 1px var(--red-color);

  &:focus {
    outline: solid 1px var(--red-color);
  }
}

.inputWithMax {
  padding: 15px;
}
