.usernameWrapper {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .username {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 12px;
  }
}

.qrWrapper {
  padding: var(--button-border-radius);
  border-radius: var(--button-border-radius);
  background-color: white;
}
