.account {
	min-width: 75vw;
	min-height: 80vh;
	display: flex;
	flex-direction: column;

	.name {
		text-align: center;
		font-size: 1.2rem;
		margin: 0.5rem 0 0.8rem;
		font-weight: 500;
	}

	.label {
		font-size: 1.1rem;
		margin: 15px 0 5px;
		font-weight: 500;
	}

	.qrContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1;

		> svg {
			margin: 20px 0;
		}
		> div {
			margin: 40px 0;
		}
	}

	.comingSoon {
		text-align: center;
	}
}
