.account {
	display: flex;
	flex-direction: column;
	min-width: 80vw;
	min-height: 80vh;
	max-height: 600px;

	@media only screen and (min-width: 500px) {
		min-width: 400px;
		max-width: 400px;
	}

	@media only screen and (min-height: 700px) {
		min-height: 600px;
	}

	.flex {
		flex: 1;
	}

	.name {
		text-align: center;
		font-size: 1.2rem;
		margin: 0.5rem 0 0.8rem;
		font-weight: 500;
	}

	.label {
		font-size: 1.1rem;
		margin: 15px 0 5px;
		font-weight: 500;
	}

	.qrContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1;

		> svg {
			margin: 20px 0;
		}
		> div {
			margin: 40px 0;
		}
	}

	.available {
		padding: 5px 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.loader {
			margin: 10px auto;
		}

		.noBalances {
			color: var(--grey-color);
			text-align: left;
			flex: 1;
			margin: 10px;
		}
	}
}
