.input {
  flex: 1;
  background-color: inherit;
  border: none;
  border-radius: inherit;
  padding: 15px;
  padding-right: 45px;
  color: var(--main-font-color);

  &:focus {
    outline: solid 1px var(--primary-color);
  }

  &::placeholder {
    color: var(--grey-color);
    opacity: 1;
  }
}

.inputContainer {
  position: relative;
  display: flex;

  & .inputIcon {
    margin: 12px;
    position: absolute;
    right: 0;
  }
}

.label {
  font-size: 0.8rem;
  width: 100%;
}
