.account {
  display: flex;
  flex-direction: row;
  align-items: center;

  .column {
    position: relative;
    margin: 0 10px;

    .copied {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 200%);
      font-size: 0.8rem;
      color: var(--primary-color);
      text-align: center;
    }

    .address {
      padding-left: 24px;
      padding-right: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.86rem;
      cursor: pointer;
      border: 1px solid transparent;

      @media only screen and (min-width: 425px) {
        font-size: 1rem;
      }
    }
  }

  .button {
    margin-left: 5px;
  }
}
