.button {
  border: 1px solid var(--bg-color);
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.textCentered {
  text-align: center;
  align-items: center;
}

.textLeft {
  text-align: left;
}

.squared {
  border-radius: var(--button-border-radius);
}

.rounded {
  border-radius: 50px;
}

.xlarge {
  padding: 18px 26px;
}

.large {
  padding: 16px 24px;
}

.mediumLarge {
  padding: 12px 20px;
}

.medium {
  padding: 8px 16px;
}

.small {
  padding: 5px 10px;
}

.xsmall {
  padding: 3px 5px;
}

.xxsmall {
  padding: 0;
}

.withPrimaryColor {
  color: var(--primary-color);
}

.withSecondaryColor {
  color: var(--secondary-color);
}

.withTertiaryColor {
  color: var(--tertiary-color);
}

.withSuccessColor {
  color: var(--success-color);
}

.withWarningColor {
  color: var(--warning-color);
}

.withErrorColor {
  color: var(--error-color);
}

.withDisabledColor {
  color: var(--disabled-color);
}

.withGreyColor {
  color: var(--grey-color);
}

.withLightGreyColor {
  color: var(--light-grey-color);
}

.withWhiteColor {
  color: white;
}

.withPrimaryBgColor {
  background-color: var(--primary-color);
}

.withSecondaryBgColor {
  background-color: var(--secondary-color);
}

.withTertiaryBgColor {
  background-color: var(--tertiary-color);
}

.withSuccessBgColor {
  background-color: var(--success-color);
}

.withWarningBgColor {
  background-color: var(--warning-color);
}

.withErrorBgColor {
  background-color: var(--error-color);
}

.withDisabledBgColor {
  background-color: var(--disabled-color);
}

.withGreyBgColor {
  background-color: var(--grey-color);
}

.withLightGreyBgColor {
  background-color: var(--light-grey-color);
}

.withWhiteBgColor {
  background-color: white;
}

.withPrimaryBorderColor {
  border-color: var(--primary-color);
}

.withSecondaryBorderColor {
  border-color: var(--secondary-color);
}

.withTertiaryBorderColor {
  border-color: var(--tertiary-color);
}

.withSuccessBorderColor {
  border-color: var(--success-color);
}

.withWarningBorderColor {
  border-color: var(--warning-color);
}

.withErrorBorderColor {
  border-color: var(--error-color);
}

.withDisabledBorderColor {
  border-color: var(--disabled-color);
}

.withGreyBorderColor {
  border-color: var(--grey-color);
}

.withLightGreyBorderColor {
  border-color: var(--light-grey-color);
}

.withWhiteBgColor {
  background-color: white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
