.amount {
  flex: 0.6;
  margin-left: 1rem;
}

.denom {
  flex: 0.3;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -3px;
}


@media only screen and (max-width : 600px){
  
  .amount {
    flex: 0.4;
    margin-left: 1rem;
  }
  
  .denom {
    flex: 0.3;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -9px;
  }
}