.validatorCard {
  padding: 1rem;
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;

  .validatorHeader {
    font-size: 1.1rem;
  }
}

.validatorAvatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 0.7rem;
  background-color: var(--grey-color);
  overflow: hidden;
  position: relative;
}

.detailRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 0.9rem;

  & p {
    margin: 0;
    padding: 0;
  }
}

.stakeCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
