.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.containerA {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 20px;
}

.slider {
    width: 268px;
    padding: 20px 0px 20px 0px;
}