.validatorWrapper {
  width: 100%;
  background-color: var(--light-grey-color);
  border: none;
  margin: 7px 0;
  text-align: initial;

  &.delegatedValidator {
    background-color: var(--primary-color);
    color: var(--light-grey-color);
  }

  &.clickable {
    cursor: pointer;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .validatorRank {
    margin-right: 10px;
  }

  .validatorAvatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--grey-color);
    overflow: hidden;
    position: relative;
  }

  .validatorMoniker {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  .validatorCommission {
    margin-left: 15px;
  }

  .validatorText {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 8px;
  }
}
