.chainWrapper {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.chainName {
  font-weight: 500;
  margin: 0;
  margin-left: 12px;
}

.userName {
  font-weight: 500;
  font-size: 1.1rem;
}
