.switchWrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: var(--card-border-radius);
	background-color: var(--light-grey-color);
}

.option {
	flex: 1;
	padding: 8px;
	text-align: center;
	cursor: pointer;
}

.selectedOption {
	background-color: var(--accent-color);
	color: white;
}
