.signx {
  padding: 15px;

  h2 {
    color: var(--primary-color);
    margin-bottom: 0;
  }

  p {
    margin-top: 10px;
    color: var(--main-font-color);
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}


.deeplink {
  padding-top: 0px;
  font-size: 12px;
}
