.titleWrapper {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 12px;
  }
}

.walletName {
  font-weight: 600;
  display: inline;
}
