.proposal {
  border-radius: var(--card-border-radius);
  background-color: var(--light-grey-color);
  padding: 1rem;
  margin: 10px auto;
  max-width: 300px;
  width: 100%;
  min-width: 280px;
  text-align: left;
  position: relative;

  &.fullProposal {
    height: 100%;
  }

  &.minifiedProposal {
    // overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    .description {
      text-overflow: ellipsis;
      max-height: 155px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: inline-block;
      white-space: wrap;
    }
  }

  &.votedYes {
    border: 2px solid var(--primary-color);
    margin-bottom: 25px;
  }

  &.votedNo {
    border: 2px solid var(--warning-color);
    margin-bottom: 25px;
  }

  &.votedAbstain {
    border: 2px solid var(--grey-color);
    margin-bottom: 25px;
  }

  &.votedVeto {
    border: 2px solid var(--error-color);
    margin-bottom: 25px;
  }

  &.votedUnknown {
    border: none;
  }
}

.proposer {
  font-size: 0.8rem;
  color: var(--lighter-font-color);
  margin: 0;
  padding: 0 5px;
}

.timer {
  font-size: 0.8rem;
  color: var(--lighter-font-color);
  margin: 0;
  padding: 0 0 0 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.description {
  font-size: 0.9rem;
  color: var(--lighter-font-color);
  margin: 0;
  padding: 0 0 1rem 0;
  // height: 100%;
}

.votesBar {
  height: 8px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--grey-color);

  .voteBar {
    height: 100%;
    margin: 0;
    padding: 0;

    &.yesBar {
      background-color: var(--primary-color);
    }

    &.noBar {
      background-color: var(--warning-color);
    }

    &.abstainBar {
      background-color: var(--grey-color);
    }

    &.vetoBar {
      background-color: var(--error-color);
    }
  }
}

.id {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: var(--main-font-color);
}

.badge {
  font-size: 0.8rem;
  margin: 0 5px;
  padding: 5px 8px;
  font-weight: 400;
  background-color: var(--backdrop-color);
  color: white;
  border-radius: var(--card-border-radius);

  &.warning {
    background-color: var(--warning-color);
  }

  &.primary {
    background-color: var(--primary-color);
  }

  &.success {
    background-color: var(--success-color);
  }

  &.error {
    background-color: var(--error-color);
  }

  &.grey {
    background-color: var(--grey-color);
  }
}

.vote {
  position: absolute;
  right: 10px;
  bottom: -20px;
}
