.wallets {
  flex: 1;
  width: 100%;

  p {
    text-align: center;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 30px;
  }

  h3 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
  }
}
