.wallets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	p {
		text-align: center;
		font-weight: 300;
	}

	h3 {
		margin-bottom: 30px;
	}

	.flex2 {
		flex: 2;
	}

	.flex3 {
		flex: 3;
	}
}
