.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: var(--footer-height);
	background-color: var(--footer-bg-color);
	display: flex;
	justify-content: space-around;

	@media only screen and (min-width: 760px) {
		position: relative;
		display: flex;
		justify-content: space-around;
		background-color: #0000;
		height: auto;
		width: 500px;
		margin: 50px auto 30px;
	}

	a {
		margin: auto 0;
	}
}
