.buttonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.button {
	background-color: var(--accent-color);
	border: none;
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	path {
		fill: var(--main-font-color-inverted);
	}
}

.label {
	margin-top: 0.5rem;
}

.large {
	padding: 1rem;
}

.small {
	padding: 0.3rem;
}

.xsmall {
	padding: 0.15rem;
}

.withSuccessBgColor {
	background-color: var(--success-color);
}

.withDisabledBgColor {
	background-color: var(--disabled-color);
}

.withGreyBgColor {
	background-color: var(--grey-color);
}

.successMark {
	background-color: var(--success-color);
	border-radius: 50%;
	padding: 0.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 60px;

	path {
		fill: var(--main-font-color-inverted);
	}
}
