@mixin stepCard {
	padding: 0.8rem;
	background-color: var(--accent-color) !important;
	color: var(--main-font-color-inverted);
	width: 100%;
	margin: 0 0 8px;
}

.svgNoFill {
	path {
		fill: none;
		stroke: var(--main-font-color-inverted);
	}
}

.title {
	margin-bottom: 6px;
}

.actionCard {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: 10px 15px;
	margin: 30px auto;
	max-width: 500px;

	.actionImage {
		font-size: 0.75rem;
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}

	.actionName {
		font-size: 1.1rem;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		width: 100%;
		margin: 0;
	}

	.actionNameText {
		margin: 6px 0;
	}

	.actionDescription {
		font-size: 0.75rem;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		width: 100%;
		margin: 0;
	}
}

.stepsCard {
	padding: 8px;
	width: 100%;
	margin-bottom: 20px;

	.stepCard {
		@include stepCard;
	}

	.stepCardRow {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.stepsModal {
	width: 100% !important;

	& .stepsSearchInput {
		margin-bottom: 20px;
	}

	.stepCard {
		@include stepCard;
	}
}

.listActions {
	padding: 0 20px;

	.addButton {
		margin: 20px;
	}
}
