html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--text-primary);
  font-family: var(--font-family-name), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  .light,
  .dark {
    background-color: var(--bg-primary);
    font-size: var(--main-font-size);
    color: var(--text-primary);
  }
}

* {
  box-sizing: border-box;
}

button {
  color: inherit;
}

a {
  color: inherit;
  // color: var(--accent-color);
  text-decoration: none;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
