html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family-name), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  .light,
  .dark {
    background-color: var(--bg-color);
    font-size: var(--main-font-size);
    color: var(--main-font-color);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  // color: var(--primary-color);
  text-decoration: none;
}
