.repoCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	margin: 15px 0;

	.repoCardTitleContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-bottom: 15px;
	}

	.repoCardTitle {
		margin: 0;
		padding-right: 5px;
		font-size: 1.2rem;
	}

	path {
		fill: var(--accent-color);
	}
}

.repoAddButton {
	margin: 15px;
}

.repoTitle {
	text-align: center;
}
