.stepContainer {
	align-items: center;

	.stepInput {
		width: 100%;
	}

	.amountAndTokenInputs {
		width: 100%;
		display: flex;
		flex-direction: row;

		.tokenInput {
			margin-left: 10px;
		}

		.stepInput {
			text-align: right;
		}
	}

	.stepsForm {
		width: 100%;
		max-width: 400px;
		text-align: center;

		.alignLeft {
			text-align: left;
		}

		.alignRight {
			text-align: right;
		}

		.titleWithSubtext {
			margin-bottom: 4px;
		}

		.subtext {
			font-size: 0.8rem;
			color: var(--grey-color);
			opacity: 0.8;
			margin: 4px 0;
		}
	}
}

.qrScan {
	path[fill^='#000'] {
		fill: var(--accent-color);
	}
}

.qrCameraMain {
	padding-top: 0 !important;
}
