.colorAndFontButtons {
	display: flex;

	a {
		margin: 30px 10px 10px 0;
	}
}

.fontItem {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 20px;

	h2 {
		margin: 0;
	}
	p {
		margin-top: 0.4em;
	}
}

.fontSelected {
	background-color: var(--success-color);
	border-radius: 50%;
	padding: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;

	path {
		fill: var(--main-font-color-inverted);
	}
}

.fontUnselected {
	background-color: var(--grey-color);
	border-radius: 50%;
	padding: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;

	path {
		fill: var(--grey-color);
	}
}
