.main {
	padding: 0 1rem;
	padding-top: 100px; // For navbar height
	padding-bottom: 50px; // For footer height
	height: 100%;
	min-height: 100vh;
}

.columnSpaceEvenlyCentered {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
