.main {
	padding: 0 1rem;
	padding-top: var(--header-height); // For navbar height
	padding-bottom: var(--footer-height); // For footer height
	height: 100%;
	min-height: 100vh;
}

.columnSpaceEvenlyCentered {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.columnJustifyCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
