.main {
  padding: 0 1rem;
  padding-top: calc(var(--header-height) + 20px); // For navbar height
  padding-bottom: calc(var(--footer-height) + 20px); // For footer height
  height: 100%;
  min-height: 100vh;
}

.centerText {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columnSpaceEvenlyCentered {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnJustifyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columnJustifyAlignCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: var(--max-width);
}

.rowAlignCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowJustifyCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rowJustifySpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowJustifySpaceAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.spacer1 {
  height: 10px;
}

.spacer2 {
  height: 20px;
}

.spacer3 {
  height: 30px;
}

.spacer4 {
  height: 40px;
}

.spacer5 {
  height: 50px;
}

.spacer6 {
  height: 60px;
}

.spacer7 {
  height: 70px;
}

.spacer8 {
  height: 80px;
}

.spacer9 {
  height: 90px;
}

.spacer10 {
  height: 100px;
}

.spacerFlex {
  height: 30px;
  flex: 1;
}

.label {
  font-size: 1.1rem;
  font-weight: 400;
}

.usernameWrapper {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .username {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 12px;
  }
}

.paddingTop {
  padding: 0px 0px 0px 10px;
}

.paddingToken {
  padding: 24px 0px 0px 10px;
}

.widthToken {
  min-width: 180px;
}
