:root {
  --bg-color: white;
  --primary-color: #1db3d3;
  --secondary-color: #1297b4;
  --tertiary-color: #fc9a63;
  --success-color: #22c55e;
  --warning-color: #fc9a63;
  --error-color: #a11c43;
  --disabled-color: #d1d5db;
  --footer-bg-color: white;
  --grey-color: #9ca3af;
  --icon-grey-color: #d1d5db;
  --light-grey-color: #f0f0f0;
  --red-color: #ef4444;
  // --backdrop-color: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.1);
  --main-font-size: 16px;
  --main-font-color: rgba(0, 0, 0, 0.9);
  --lighter-font-color: #4b5563;
  --main-font-color-inverted: rgba(255, 255, 255, 1);
  --button-border-radius: 18px;
  --header-height: 90px;
  --header-logo-width: 42px;
  --header-logo-height: 42px;
  --footer-height: 90px;
  --card-border-radius: 16px;
  --max-width: 400px;

  // dark mode
  .dark {
    --bg-color: #0e2235;
    --primary-color: #1db3d3;
    --secondary-color: #1297b4;
    --tertiary-color: #fc9a63;
    --success-color: #22c55e;
    --warning-color: #fc9a63;
    --error-color: #ef4444;
    --disabled-color: #d1d5db;
    --footer-bg-color: #0e2235;
    --grey-color: #9ca3af;
    --icon-grey-color: #d1d5db;
    --light-grey-color: #1e686c;
    --backdrop-color: rgba(255, 255, 255, 0.1);
    --main-font-size: 16px;
    --main-font-color: rgba(255, 255, 255, 1);
    --lighter-font-color: #4b5563;
    --main-font-color-inverted: rgba(0, 0, 0, 0.9);
    --button-border-radius: 18px;
    --header-height: 90px;
    --header-logo-width: 42px;
    --header-logo-height: 42px;
    --footer-height: 90px;
    --card-border-radius: 16px;
    --max-width: 400px;
  }
}
