.dropdown {
  display: flex;
  min-height: 44px;
  text-align: left;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  &.clickable {
    cursor: pointer;
  }

  &.clickable {
    cursor: pointer;
  }

  p {
    margin: 0 10px;
    flex: 1;
  }
}
